/* Style for https://Marco4413.github.io */

@keyframes -force-light-background-anim {
    from { background-color: var(--text-color-light); }
    to { background-color: transparent; }
}

.page-title {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.avatar-container { display: contents; }
.avatar-container > img {
    align-self: center;
    width: auto;
    height: 1.5em;
}

.page-name-container > * {
    /* TODO: Figure out why div.page-name-container doesn't shrink to fit wrapped text.
        I WANT IT CENTERED, DAMN IT! Real web dev moment.
    */
    vertical-align: middle;
}

.force-light-background {
    animation: -force-light-background-anim 1s paused;
    /* Not even close to stopping me from doing conditional style based on vars within CSS. */
    animation-delay: calc(var(--color-scheme) * 1s);
}

.tool-logo {
    width: auto;
    height: 2em;
}

.project-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-logo-container a {
    display: contents;
}

.project-logo-container img {
    border-radius: 5px 5px 0px 0px;
    aspect-ratio: 1;
    width: 250px;
    max-width: 100%;
    height: auto;
}

.project-container {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--background-color-dark);
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-description {
    padding-right: 10px;
    text-align: justify;
}

div[splitr]:empty {
    display: inline-block;
    width: auto;
    height: auto;
    min-height: 2px;
    max-height: 2px;
    margin: 8px 0px 8px 0px;
    background-color: var(--text-color-light);
}

@media only screen and (min-width: 768px) {
    .project-logo-container img {
        border-radius: 5px 0px 0px 5px;
        width: auto;
        max-width: unset;
        height: 250px;
        max-height: 100%;
    }

    .project-container {
        padding: 3px;
        flex-direction: row;
        align-items: initial;
    }

    div[splitr]:empty {
        min-width: 2px;
        max-width: 2px;
        min-height: unset;
        max-height: unset;
        margin: 7px 8px 7px 8px;
    }
}
