/* Style for https://Marco4413.github.io */

@keyframes -tool-logo-background-color {
    from { background-color: var(--text-color-light); }
    to { background-color: transparent; }
}

.tool-logo-background-color {
    animation: -tool-logo-background-color 1s paused;
    /* Not even close to stopping me from doing conditional style based on vars within CSS. */
    animation-delay: calc(var(--color-scheme) * 1s);
}

.project-logo-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-logo-container > img {
    border-radius: 5px 5px 0px 0px;
    width: 250px;
    max-width: 25vh;
    height: 250px;
    max-height: 25vh;
}

.project-container {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-container > div[vr]:empty {
    display: none;
}

div[splitr]:empty {
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 8px 0px 8px 0px;
    background-color: var(--text-color-light);
}

@media only screen and (min-width: 768px) {
    .project-logo-container > img {
        border-radius: 5px 0px 0px 5px;
        width: 250px;
        max-width: 25vw;
        height: 250px;
        max-height: 25vw;
    }

    .project-container {
        padding: 3px;
        flex-direction: row;
        align-items: initial;
    }

    div[splitr]:empty {
        min-width: 2px;
        max-width: 2px;
        height: initial;
        margin: 7px 8px 7px 8px;
    }
}
